{% extends "moneyflow/main.html" %}
{% load i18n %}

{% block content %}
{% load static %}
<div class="ml-0 w-[100vw] h-[92vh] bg-cover bg-no-repeat flex justify-center items-center" style="background-image: url({% static 'moneyflow/images/bg1.jpg' %});">

    <div class="bg-white/80 p-14 rounded-2xl backdrop-blur-sm justify-center flex flex-col items-center"> 
        {% translate 'You have been logged out.' %}
        <br>
        <div class="relative inline-flex group m-14">
            <div
                class="absolute transitiona-all duration-1000 -inset-px bg-gradient-to-r from-[#00A6FF] via-[#FF00E6] to-[#FF5F2F] rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200
                animate-tilt">
            </div>
            <a href="{% url 'frontpage' %}"
                class="relative inline-flex items-center justify-center px-8 py-4 font-semibold tracking-wide text-white transition duration-200 rounded-2xl shadow-md bg-gray-800 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900"
                role="button">{% translate 'Log in again' %}
            </a>
        </div>
    </div>

</div>
{% endblock %}