{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com">
        </script>
    </head>
    <body>
      <nav class="bg-gray-800 p-4 lg:flex lg:items-center lg:justify-between sticky top-0">
        <div class="flex items-center justify-between">
          <div class="text-white flex ml-4">
            {% load static %}
            <img src="{% static 'moneyflow/icons/logo.png' %}" alt="logo" class="h-8 w-8">
            <a href="/" class="ml-1 text-2xl font-semibold">
              MoneyFlow
            </a>
          </div>

          <div class="lg:hidden">
            <button id="menuButton" class="hover:bg-gray-600 text-white px-2 py-1 rounded">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              
            </button>
          </div>
        </div>
      
        <div id="menu" class="hidden lg:flex mt-2 px-1 lg:mt-0 lg:px-6 lg:space-x-10 lg:space-x-20 justify-center content-center items-center grid grid-cols-2 lg:grid-cols-none justify-items-center items-center bg-gray-700 lg:bg-transparent rounded-xl">
          {% with url_name=request.resolver_match.url_name %}
          <a href="{% url 'dashboard' %}" class="m-0 p-0 text-gray-300 hover:text-white {% if url_name == 'Dashboard' %}text-white{% endif %}">
            Dashboard
          </a>
          <a href="{% url 'accounts' %}" class="m-0 p-0 text-gray-300 hover:text-white {% if url_name == 'accounts' %}text-white{% endif %}">
            Accounts
          </a>
          <a href="{% url 'transactions' %}" class="m-0 p-0 text-gray-300 hover:text-white {% if url_name == 'transactions' %}text-white{% endif %}">
            Transactions
          </a>
          <a href="{% url 'categories' %}" class="m-0 p-0 text-gray-300 hover:text-white {% if url_name == 'categories' %}text-white{% endif %}">
            Categories
          </a>
          <a href="{% url 'documents' %}" class="m-0 p-0 text-gray-300 hover:text-white {% if url_name == 'documents' %}text-white{% endif %}">
            Documents
          </a>

          {% if user.is_authenticated %}
          <a class="m-0 px-2 py-2 rounded-xl bg-blue-600 text-gray-300 hover:text-white">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <input
                  class="nav-link"
                  type="submit"
                  value="{% translate "Log Out" %}">
              </form>
          </a>
          {% else %}
          <a href="{% url 'frontpage' %}" class="m-0 px-2 py-2 rounded-xl bg-blue-600 text-gray-300 hover:text-white">
            {% translate "Log In" %}
          </a>
          {% endif %}
          {% endwith %}
            </div>
      </nav>

      {% block content %}
      {% endblock %}

      <script>
          var menuButton = document.querySelector('#menuButton');
          var menu = document.querySelector('#menu');
        
          menuButton.addEventListener('click', function() {
            menu.classList.toggle('hidden');
            menu.classList.toggle('block');
          });
        
          window.addEventListener('resize', function() {
            if (window.innerWidth >= 1024) {
              menu.classList.remove('block');
              menu.classList.add('hidden');
            }
          });
      </script>
    </body>
</html>